# Dependencies
node_modules
.pnp
.pnp.js
.yarn/install-state.gz

# Build outputs
.next
out
build
dist

# Turborepo cache
.turbo
.turbopack

# Testing
coverage

# Debug logs
npm-debug.log*

# Misc
.DS_Store
*.pem

# Env files
.env*
!.env.example

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Prisma
/generated
/prisma/generated
/generated/prisma